.charts {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
  margin-top: 100px;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.chart {
  flex: 1;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

canvas {
  max-width: 100%;
  height: auto;
}
