.team {
  margin-top: 100px;
  padding: 50px 20px;
  background-color: #f7f7f7;
  text-align: center;
  h3 {
    font-size: 13px;
  }
  p{
    font-size: 11px;
  }
}
.team_member {
  width: 200px;
  text-align: center;
  background-color: #f0f0f0; /* Цвет фона блока */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.team_stack {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

}
.team_member_img {
  img {
    width: 150px;
    height: 200px;
  }
}