.contacts {
  margin-top: 100px;
  padding: 50px 20px;
  background-color: #f7f7f7;
  text-align: center;
}

.contacts p, .contacts .cta-button {
  text-align: center;
}
.cta-button {
  background-color: #f04;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}